[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-creator = "*"
ansible-navigator = "*"
gitpython = "*"
loguru = "*"
paramiko = "*"
redis = "*"

[dev-packages]
myst-parser = {extras = ["linkify"], version = "*"}
sphinx = "*"
sphinx-autobuild = "*"
sphinx-copybutton = "*"
sphinx-design = "*"
sphinx-nefertiti = "*"
sphinx-pyscript = "*"
sphinx-tippy = "*"
sphinx-togglebutton = "*"
sphinxcontrib-autoyaml = "*"
sphinxext-opengraph = "*"
sphinxext-rediraffe = "*"
sphinx-favicon = "*"
