[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-creator = "*"
ansible-navigator = "*"
gitpython = "*"
loguru = "*"
paramiko = "*"
redis = "*"
sphinx-nefertiti = "*"

[dev-packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinx-design = "*"
sphinxcontrib-autoyaml = "*"
myst-parser = {extras = ["linkify"], version = "*"}
